.coffee-head {
    position: fixed;
    left: 0px;
    right: 0px;
    height: 100px;
    width: 100%;
    background-color: #0a2d42;
    z-index: 100;
}

.div-logo {
    height: 100%;
    text-align: center;
    margin: 10px;
    float: left;
}

.logo-text {
    display: block;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: white;
}

img {
    height: 60px;
}

.coffee-nav {
    float: right;
    height: 70px;
}

.coffee-nav a {
    color: white;
    font-size: 17px;
    font-weight: 70;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-right: 20px;
    padding-top: 10%;
    display: inline-block;
}

body {
    margin: 0px;
}

.content {
    position: absolute;
    top: 78px;
    width: 100%;
}

.images {
    background-image: url("https://cdn2.hubspot.net/hubfs/4801849/TechnoShots/assignment/background-image.jpg");
    height: 700px;
    width: 100%;
    text-align: center;
}

.quote {
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: relative;
    top: 10%;
}

#product {
    text-align: center;
}

.cards {
    width: 22%;
    padding: 1.5%;
    height: 300px;
    float: left;
    text-align: center;
}

.cards img {
    width: 60%;
    height: 50%;
}

.order-section {
    width: 100%;
    text-align: center;
}

#order {
    text-align: center;
}

.form {
    width: 200px;
    margin: 0 auto;
}

.form input {
    padding: 10px;
    margin: 10px;
}